@import '../bourbon/bourbon';

@import "colors";
@import "fonts";

$defaultfont: "CooperHewitt-Light", sans-serif;


* {
	box-sizing: border-box;
}

body {
	background-color: $ltltpink;
	padding-left: 10px;
}

h1, h2 {
	font-family: "CooperHewitt-Medium", sans-serif;
}

h2, h4 {
	font-style: italic;
}

#header {
	width: 100%;
	max-height: 300px;
	margin: 0 auto;
	//background-image: url("https://unsplash.imgix.net/45/QDSMoAMTYaZoXpcwBjsL__DSC0104-1.jpg?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=86abed690c313fd5eabe8bc64c11a7b2");
	background-color: $pink;
	border-radius: 5px;
	text-indent: 15px;
	//padding: 2px;
}
#banner {
	width: 100%;
	max-height: 150px;
	margin: 10px auto;
	background-color: $ltblue;
	border-radius: 5px;
	text-indent: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
}
#feature h1 {
	font-family: "CooperHewitt-ThinItalic", sans-serif;
}

%button {
	background-color: $pink;
	border: 2px solid black;
	text-transform: uppercase;
	color: white;
	line-height: 5px;
	font-family: $defaultfont;
	height: 30px;
	border-radius: 5px;
	text-align: center;
}
.button-one {
	@extend %button;

}
#image {
	max-height: 300px;
	max-width: 450px;
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 20px;
}
#image :hover {
	opacity: 0.5;
}
#article_image {
	max-width: 231px;
	max-height: 100%;	
}

.button-two {
	@extend %button;
	background-color: $grey;
	color: black;
}